* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container-manage-overall {
    width: 100%;
    padding-right: 180px;
}


.container-manage-docs {
    width: 100%;
    margin-top: -40px;
    margin-right: 160px;
    padding-right: 160px;
}

.docs-card-manage-docs {
    margin: auto;
    margin-top: 48px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    margin-bottom: 2rem;
    margin-left: 160px;
    font-size: 1rem;
}


.heading-secondary-manage-docs {
    font-size: 1.5rem;
}

.heading-secondary-manage-docs-authors {
    font-size: 1.5rem;
}

.mt-50 {
    width: 100%;
    max-width: none;
    height: fit-content;
    background: #fff;
    border-radius: 16px;
    padding-bottom: 2rem;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 160px;
    font-size: 1.25rem;
}

.add-new-doc-form-manage-doc {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px;
    border-bottom: solid #0a3237b2 1px;
}

.username-div {
    width: 480px;
    margin-left: 32px;
    font-size: 1.25rem;
}

.collaborators-div {
    display: flex;
    padding: 8px;
    width: 98%;
    margin-bottom: 2rem;
    height: auto;
    margin-left: 16px;
    margin-right: 320px;
    font-family: 'Assistant', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: solid #0a3237b2 1px;
}

.delete-doc-icon-manage-docs {
    float: right;
    margin-left: 65%;
    padding-left: 32px;
    padding-right: 32px;
    color: #f0a58c;
    cursor: pointer;
    font-size: 2rem;
}

.delete-doc-icon-manage-docs:hover {
    color: #f0a58c;
    opacity: 0.6;
    transition: 0.25s;
}

.doc-title-new {
    width: 240px;
    height: 48px;
    margin-left: 32px;
    margin-right: 16px;
    padding: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.doc-title-new:hover {
    color: #0a3237b2;
}


@media (max-width: 1024px) {

    .container-manage-overall {
        margin-top: -24px;
        margin-right: 32px;
        padding-right: 120px;
    }
    
    .container-manage-docs {
        position: relative;
        margin-left: 48px;
        margin-right: 32px;
        padding-right: 32px;
    }

    .mt-50 {
        height: fit-content;
        background: #fff;
        border-radius: 16px;
        padding-bottom: 2rem;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 1.25rem;
    }

    .add-new-doc {
        overflow-wrap: break-word;
    }

    .docs-card-manage-docs {
        position: relative;
        margin-left: 32px;
        margin-right: 32px;
        padding-right: 32px;
    }

    .doc-title-input {
        overflow-wrap: break-word;
        display: flex;
        margin-left: -24px;
        padding-left: 0px;
    }

    .doc-title-new {
        width: fit-content;
        height: 48px;
        margin-left: 8px;
        margin-right: 16px;
        padding: 8px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .add-new-doc-form-manage-doc {
        display: flex;
        overflow-wrap: normal;
        flex-wrap: wrap;
    }

    .add-new-doc-btn {
        margin-top: 16px;
        margin-right: 0px;
        margin-left: 8px;
        margin-bottom: 32px;
        padding-right: 16px;
    }

    .heading-secondary-manage-docs-authors {
        font-size: 1.5rem;
        padding-left: 16px;
        margin-left: 0px;
    }

    .username-div {
        width: 240px;
        margin-left: 0px;
        font-size: 1.25rem;
    }

    .collaborators-div {
        display: flex;
        padding: 8px;
        width: 98%;
        margin-bottom: 2rem;
        height: auto;
        margin-left: 16px;
        margin-right: 0px;
        font-family: 'Assistant', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-bottom: solid #0a3237b2 1px;
    }

    .delete-doc-icon-manage-docs {
        float: right;
        margin: 0;
        padding: 0;
    }

}    

@media (max-width: 600px) {

    .container-manage-overall {
        width: fit-content;
        margin-top: -48px;
        margin-right: 32px;
        padding-right: 180px;
    }
    
    .container-manage-docs {
        width: fit-content;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 32px;
        padding-right: 32px;
    }

    .mt-50 {
        width: 432px;
        height: fit-content;
        background: #fff;
        border-radius: 16px;
        padding-bottom: 2rem;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 1.25rem;
    }

    .add-new-doc {
        overflow-wrap: break-word;
    }

    .docs-card-manage-docs {
        width: 432px;
        position: relative;
        margin-left: 32px;
        margin-right: 32px;
        padding-right: 32px;
    }

    .doc-title-input {
        overflow-wrap: break-word;
        display: flex;
        margin-left: -24px;
        padding-left: 0px;
    }

    .doc-title-new {
        width: fit-content;
        height: 48px;
        margin-left: 8px;
        margin-right: 16px;
        padding: 8px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .add-new-doc-form-manage-doc {
        display: flex;
        overflow-wrap: normal;
        flex-wrap: wrap;
    }

    .add-new-doc-btn {
        margin-top: 16px;
        margin-right: 0px;
        margin-left: 8px;
        margin-bottom: 32px;
        padding-right: 16px;
    }

    .heading-secondary-manage-docs-authors {
        font-size: 1.5rem;
        padding-left: 16px;
        margin-left: 0px;
    }

    .username-div {
        width: 240px;
        margin-left: 0px;
        margin-top: 8px;
        padding-top: 8px;
        font-size: 1.25rem;
    }

    .collaborators-div {
        display: flex;
        padding: 8px;
        width: 98%;
        margin-bottom: 2rem;
        height: auto;
        margin-left: 16px;
        margin-right: 0px;
        font-family: 'Assistant', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-bottom: solid #0a3237b2 1px;
    }

    .delete-doc-icon-manage-docs {
        float: right;
        margin: 0;
        padding: 0;
    }
    
    .p {
        margin-top: 8px;
    }

}